{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <main class="p-2">
        <h1 class="m-3">Modifier Mot de passe</h1>
        <div class="m-5">
            {{ form(modify_password) }}
        </div>
    </main>
{% endblock %}