{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Choix de Livraison et Transporteur</h1>
        {{ form(delivery_form) }}

    </div>

{% endblock %}
